<html>
    <head>
        <title>WebWoWViewer: tech demo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


        <!----------------->
        <!--  Libraries  -->
        <!----------------->
        <script type="text/javascript" src="js/bower_deps.min.js"></script>

        <!---------------------->
        <!-- Application code -->
        <!---------------------->
        <script type="text/javascript" src="js/application.min.js"></script>
    </head>
    <body ng-app="main.app" ng-controller="UrlChooserCtrl" style="background: black">
    <div style="margin: auto;position: absolute; top: 0; left: 0; bottom: 0; right: 0;">
        <div ng-if="!isReadyForStart">
            <input type="text" ng-model="params.urlForLoading" style="width: 215px"/>
            <button ng-click="startApplication()">Start application</button>
        </div>
        <div ng-if="isReadyForStart" style="width: 1054px; height: 855px; overflow: hidden; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; color: white">
            <wow-js-render ></wow-js-render>
            <p>Controls: W - forward, S - backward, A - left, D - right, Q - up, E - down, Mouse - move camera</p>
        </div>
    </div>
    </body>
</html>
