<html>
    <head>
        <title></title>

        <!----------------->
        <!--  Libraries  -->
        <!----------------->
        <script type="text/javascript" src="js/bower_deps.min.js"></script>

        <!---------------------->
        <!-- Application code -->
        <!---------------------->
        <script type="text/javascript" src="js/application.min.js"></script>
    </head>
    <body ng-app="main.app" ng-controller="UrlChooserCtrl">
        <div ng-if="!isReadyForStart">
            <input type="text" ng-model="params.urlForLoading"/>
            <button ng-click="startApplication()">Start application</button>
        </div>
        <div ng-if="isReadyForStart">
            <wow-js-render ></wow-js-render>
        </div>
    </body>
</html>
