<html>
    <head>
        <title>WebWoWViewer: tech demo</title>

        <!----------------->
        <!--  Libraries  -->
        <!----------------->
        <script type="text/javascript" src="js/lib/bower/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="js/lib/bower/angular/angular.js"></script>

        <!--<script type="text/javascript" src="js/lib/webgl-debug.js"></script>-->
        <script type="text/javascript" src="js/lib/bower/stats.js/build/stats.min.js"></script>
        <script type="text/javascript" src="js/lib/bower/gl-matrix/dist/gl-matrix.js"></script>
        <script type="text/javascript" src="js/lib/bower/decodeDXT/decodeDXT.js"></script>

        <script type="text/javascript" src="js/lib/bower/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script type="text/javascript" src="js/lib/bower/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>


        <script type="text/javascript" src="js/lib/bower/text-encoding/lib/encoding-indexes.js"></script>
        <script type="text/javascript" src="js/lib/bower/text-encoding/lib/encoding.js"></script>

        <script type="text/javascript" src="js/lib/bower/zip.js/WebContent/zip.js"></script>
        <script type="text/javascript" src="js/lib/bower/zip.js/WebContent/zip-ext.js"></script>

        <script>
            Module = {TOTAL_MEMORY:400000000};
        </script>
        <script type="text/javascript" src="js/lib/bower/hqx-js/src/hqx.js"></script>

        <!---------------------->
        <!-- Application code -->
        <!---------------------->
        <script type="text/javascript" src="js/application/angular/services/config.js"></script>
        <script type="text/javascript" src="js/application/angular/services/fileReadHelper.js"></script>
        <script type="text/javascript" src="js/application/angular/services/dbcLoader.js"></script>

        <script type="text/javascript" src="js/application/angular/services/fileLoader.js"></script>
        <script type="text/javascript" src="js/application/angular/services/chunkedLoader.js"></script>
        <script type="text/javascript" src="js/application/angular/services/linedfileLoader.js"></script>

        <script type="text/javascript" src="js/application/angular/services/map/adtLoader.js"></script>
        <script type="text/javascript" src="js/application/angular/services/map/wdtLoader.js"></script>
        <script type="text/javascript" src="js/application/angular/services/map/blpLoader.js"></script>
        <script type="text/javascript" src="js/application/angular/services/map/wmoLoader.js"></script>
        <script type="text/javascript" src="js/application/angular/services/map/mdxLoader.js"></script>
        <script type="text/javascript" src="js/application/angular/services/map/skinLoader.js"></script>
        <script type="text/javascript" src="js/application/angular/services/dbc/mapDBC.js"></script>

        <!-- WoW js render -->
        <script type="text/javascript" src="js/application/angular/wowRenderJs/cache.js"></script>
        <script type="text/javascript" src="js/application/angular/wowRenderJs/scene.js"></script>
        <script type="text/javascript" src="js/application/angular/wowRenderJs/camera/firstPersonCamera.js"></script>
        <script type="text/javascript" src="js/application/angular/wowRenderJs/geometry/adtGeomCache.js"></script>
        <script type="text/javascript" src="js/application/angular/wowRenderJs/geometry/m2GeomCache.js"></script>
        <script type="text/javascript" src="js/application/angular/wowRenderJs/geometry/skinGeomCache.js"></script>
        <script type="text/javascript" src="js/application/angular/wowRenderJs/geometry/wmoGeomCache.js"></script>
        <script type="text/javascript" src="js/application/angular/wowRenderJs/math/mathHelper.js"></script>
        <script type="text/javascript" src="js/application/angular/wowRenderJs/geometry/wmoMainCache.js"></script>
        <script type="text/javascript" src="js/application/angular/wowRenderJs/objects/wmoObjectFactory.js"></script>
        <script type="text/javascript" src="js/application/angular/wowRenderJs/objects/adtObject.js"></script>
        <script type="text/javascript" src="js/application/angular/wowRenderJs/objects/adtM2Object.js"></script>
        <script type="text/javascript" src="js/application/angular/wowRenderJs/objects/MDXObject.js"></script>
        <script type="text/javascript" src="js/application/angular/wowRenderJs/objects/wmoM2ObjectFactory.js"></script>
        <script type="text/javascript" src="js/application/angular/wowRenderJs/texture/textureCache.js"></script>
        <script type="text/javascript" src="js/application/angular/wowRenderJs/graph/sceneGraphManager.js"></script>


        <!-- Shader -->
        <script type="text/javascript" src="js/temp/shaders.js"></script>
        <script type="text/javascript" src="js/temp/worker-inflater.js"></script>


        <!-- WoW js directives -->
        <script type="text/javascript" src="js/application/angular/directives/wowJsRenderDirective.js"></script>
        <script type="text/javascript" src="js/application/angular/directives/fileDownload.js"></script>
        <script type="text/javascript" src="js/application/angular/app_wowjs.js"></script>


        <link rel="stylesheet" href="js/lib/bower/bootstrap/dist/css/bootstrap.css"/>

    </head>
    <body ng-app="main.app" ng-controller="UrlChooserCtrl" style="background: black">
        <div style="margin: auto;position: absolute; top: 0; left: 0; bottom: 0; right: 0;">
            <div ng-if="!isReadyForStart" style="width: 652px; height: 345px; overflow: hidden; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; ">
                <input type="text" ng-model="params.urlForLoading" style="width: 215px"/>
                <button ng-click="startApplication()">Start application</button>

                <div ng-if="isReadyForDownload">
                    <file-downloader url="params.zipUrl" loaded-file="params.zipFile" file-progress="params.downLoadProgress">
                        <progressbar max="100" value="params.downLoadProgress">{{params.downLoadProgress}}</progressbar>
                    </file-downloader>
                </div>
            </div>


            <div ng-if="isReadyForStart" style="width: 1054px; height: 855px; overflow: hidden; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; color: white">
                <wow-js-render ></wow-js-render>
                <p>Controls: W - forward, S - backward, A - left, D - right, Q - up, E - down, Mouse - move camera</p>
            </div>

        </div>
    </body>
</html>
