<div class="canvas-form-container" style="width: 100%; height: 100%">
    <canvas width="79%" height="768" style="float:left"></canvas>
    <div style="display: inline-block;float: left; width: 225px">
        <div>camera = ( {{cameraVecs.cameraVec3[0]}}, {{cameraVecs.cameraVec3[1]}}, {{cameraVecs.cameraVec3[2]}} )</div>
        <div>lookAt = ( {{cameraVecs.lookAtVec3[0]}}, {{cameraVecs.lookAtVec3[1]}}, {{cameraVecs.lookAtVec3[2]}} )</div>
        <div>Group number = {{updateResult.interiorGroupNum}}</div>
        <div>BSP Node Id = {{updateResult.nodeId}}</div>
        <div>Area name = {{updateResult.currentAreaName}}</div>
        <div>Controls: W - forward, S - backward, A - left, D - right, Q - up, E - down, Mouse - move camera</p>
            <div style="display: block">
                <label>
                    <input type="checkbox" ng-model="drawAdt">
                    Draw ADT objects
                </label>
            </div>
            <div style="display: block">
                <label>
                    <input type="checkbox" ng-model="drawM2">
                    Draw M2 objects
                </label>
            </div>
            <div style="display: block">
                <label>
                    <input type="checkbox" ng-model="drawPortals">
                    Draw portals
                </label>
            </div>
            <div style="display: block">
                <label>
                    <input type="checkbox" ng-model="drawM2BB">
                    Draw M2 BB
                </label>
            </div>
            <div style="display: block">
                <label>
                    <input type="checkbox" ng-model="drawWmoBB">
                    Draw Wmo BB
                </label>
            </div>
            <div style="display: block">
                <label>
                    <input type="checkbox" ng-model="drawBSP">
                    Draw BSP leafs
                </label>
            </div>
            <div style="display: block">
                <label>
                    <input type="checkbox" ng-model="drawDepth">
                    Draw Depth buffer
                </label>
            </div>
            <div style="display: block">
                <label>
                    <input type="checkbox" ng-model="usePortalCulling">
                    Use portal culling
                </label>
            </div>
            <div style="display: block">
                <label>
                    <input type="checkbox" ng-model="doubleCameraDebug">
                    Double camera debug
                </label>
            </div>
            <div style="display: block">
                <label>
                    <input type="checkbox" ng-disabled="!doubleCameraDebug" ng-model="useSecondCamera">
                    Control debug camera
                </label>
            </div>
            <div style="display: block;">
                <button class="copy-to-debug-camera" ng-disabled="!doubleCameraDebug"
                        ng-class="{double-camera-debug: doubleCameraDebug}"
                        ng-click="copyToDebugCamera()">Copy main camera to debug camera
                </button>
            </div>
            <div style="display: block;">
                <button ng-click="loadPacket()">Parse packets</button>
            </div>
            <div style="display: block;">
                <button ng-click="loadAllPackets()">Parse all packets</button>
            </div>
        </div>
    </div>
</div>