<html>
    <head>
        <title>WebWoWViewer: tech demo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <script>
            Module = {TOTAL_MEMORY:400000000};
        </script>
        <!----------------->
        <!--  Libraries  -->
        <!----------------->


        <!---------------------->
        <!-- Application code -->
        <!---------------------->
        <!--<script type="text/javascript" src="js/lib/webgl-debug.js"></script>-->
        <script type="text/javascript" src="build/main.js"></script>
    </head>
    <body ng-app="main.app" ng-controller="UrlChooserCtrl" style="background: black">
    <div style="margin: auto;position: absolute; top: 0; left: 0; bottom: 0; right: 0;">
        <div class="container" ng-if="!isReadyForStart" style="height: 650px; overflow: hidden; margin: auto">
            <div class="row">
                <div class="col-md-6 col-md-offset-4">
                    <div class="btn-group" style="width: 100%; margin-bottom: 10px" uib-dropdown is-open="status.isopen">
                        <h3 class="text-center" style="width: 100%; color: white; margin-bottom: 20px">
                            Web WoW Viewer
                        </h3>

                        <button style="width: 100%;" id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                            {{selectedModeName}} <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button" style="width: 100%; overflow-y: scroll;height: 500px;">
                            <li class="disabled"><a href="#">Available without client</a></li>
                            <li ng-repeat="value in selectionOptions.predefined" role="menuitem" ng-click="selectMode(value)">
                                <a href="#" >{{value.name}}</a>
                            </li>
                            <li class="divider"/>
                            <li class="disabled"><a href="#">Served with client http source</a></li>
                            <li ng-repeat="value in selectionOptions.custom" role="menuitem" ng-click="selectMode(value)">
                                <a href="#">{{value.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <br/>
                    <div ng-show="selectedSource=='http'">
                        <label for="urlInput" style="color:white">Url of http serving site</label>
                        <input id="urlInput"  class="form-control" style="width: 100%;" type="text" ng-model="params.urlForLoading" style="width: 215px;" />
                    </div>

                    <br/>
                    <button style="width: 100%;" class="btn btn-default" ng-click="startApplication()">Start application</button>


                    <br/><br/><br/>
                    <div ng-if="isReadyForDownload">
                        <file-downloader url="params.zipUrl" loaded-file="params.zipFile" file-progress="params.downLoadProgress">
                            <uib-progressbar max="100" value="params.downLoadProgress">{{params.downLoadProgress}}</uib-progressbar>
                        </file-downloader>
                    </div>
                </div>

            </div>
        </div>


        <div ng-if="isReadyForStart" style="width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0; bottom: 0; right: 0; color: white">
            <wow-js-render ></wow-js-render>
            <p>Controls: W - forward, S - backward, A - left, D - right, Q - up, E - down, Mouse - move camera</p>
        </div>

    </div>
    </body>
</html>
